@Library('circleguard-shared-lib') _

circleguardPipeline(
    service: 'gateway-service',
    environment: 'master',
    runIntegration: true,
    runE2E: true,
    runPerformance: true,
    requireApproval: true,
    generateReleaseNotes: true
)
